/* App.css */

/* Custom styles can go here */

.App {
  text-align: center;
}

/* Remove unused animations for logo */
.App-logo {
  pointer-events: none;
}

/* App Header Styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
